In [1]:
import os
import pandas as pd
import matplotlib .pyplot as plt
import numpy as np

In [2]:
#Import cvs files and change to panda dataframes
filenames = os.listdir("Data/")
filenames = [
    os.path.join( "Data", f)
    for f in filenames
]
#need to pull list of district names.  We can then add these to dataframes in laster code
dfs = [
    pd.read_csv(f)
    for f in filenames
]

print(filenames)

['Data\\artf307420_15.csv', 'Data\\artf307420_16.csv', 'Data\\artf307420_17.csv', 'Data\\artf307420_18.csv']

In [3]:

def get_year(filename):
    year = filename.split("_")[-1] # last element
    year = year.split(".")[0] # removes .csv
    year = "20"+year
    return year
year=[]
for f in filenames:
    year.append(get_year(f))
print(year)

['2015', '2016', '2017', '2018']

In [4]:

cleandf=[]
counter=0
for df in dfs:
   
    df=df.rename(columns={
            "CTE_STUDENTS":f"CTE_STUDENTS_{year[counter]}",
            "CTE_HOURS":f"CTE_HOURS_{year[counter]}",
            "CTE_AVG":f"CTE_AVG_{year[counter]}",
            "ALL_STUDENTS":f"ALL_STUDENTS_{year[counter]}",
            "ALL_HOURS":f"ALL_HOURS_{year[counter]}",
            "ALL_AVG": f"ALL_AVG_{year[counter]}",
        })
    print(df.columns)
    del df['REPORT_DISTRICT']
    del df['REPORT_DISTNAME']
    del df['REPORT_CHARTER_STATUS']
    del df['BLANK_COLUMN']
    df = df.dropna(how = "any")
    cleandf.append(df)
    counter=counter+1

dfs=cleandf
dfs[0]

Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2015',
       'CTE_HOURS_2015', 'CTE_AVG_2015', 'ALL_STUDENTS_2015', 'ALL_HOURS_2015',
       'ALL_AVG_2015'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2016',
       'CTE_HOURS_2016', 'CTE_AVG_2016', 'ALL_STUDENTS_2016', 'ALL_HOURS_2016',
       'ALL_AVG_2016'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2017',
       'CTE_HOURS_2017', 'CTE_AVG_2017', 'ALL_STUDENTS_2017', 'ALL_HOURS_2017',
       'ALL_AVG_2017'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2018',
       'CTE_HOURS_2018', 'CTE_AVG_2018', 'ALL_STUDENTS_2018', 'ALL_HOURS_2018',
       'ALL_AVG_2018'],
      dtype='object')

,DISTRICT,SERVICE,SERVICEX,CTE_STUDENTS_2015,CTE_HOURS_2015,CTE_AVG_2015,ALL_STUDENTS_2015,ALL_HOURS_2015,ALL_AVG_2015
0,1902,3101100,PRECALCULUS (PRE CALC),9,36,4.0,18,54,3.0
1,1902,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0
2,1902,3220400,ENGLISH IV (ENG 4),10,57,5.7,14,81,5.8
3,1902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
4,1902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
5,1902,3340100,US HISTORY STUDIES SINCE 1877,9,36,4.0,9,36,4.0
6,1902,13009900,PROFESSIONAL COMMUNICATIONS,3,3,3.0,3,3,3.0
9,1904,3220300,ENGLISH III (ENG 3),10,30,3.0,12,72,6.0
10,1904,3220400,ENGLISH IV (ENG 4),11,33,3.0,11,33,3.0
11,1904,3241400,COMMUNICATION APPLICATIONS,3,3,3.0,3,3,3.0
12,1904,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
13,1904,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
14,1904,3340100,US HISTORY STUDIES SINCE 1877,3,3,3.0,6,24,4.0
15,1904,3350100,PSYCHOLOGY (PSYCH),3,12,4.0,11,33,3.0
17,1904,13014300,HUMAN GROWTH & DEVELOP,14,42,3.0,14,42,3.0
18,1904,13020400,HEALTH SCIENCE,7,14,2.0,7,14,2.0
21,1906,3101100,PRECALCULUS (PRE CALC),3,3,3.0,3,3,3.0
22,1906,3102500,INDEP STUDY IN MATH (1ST TIME),3,3,3.0,3,3,3.0
23,1906,3220300,ENGLISH III (ENG 3),6,24,4.0,10,30,3.0
24,1906,3220400,ENGLISH IV (ENG 4),6,18,3.0,6,18,3.0
25,1906,3221500,LITERARY GENRES (LIT GENR),3,3,3.0,3,3,3.0
26,1906,3241400,COMMUNICATION APPLICATIONS,3,3,3.0,3,3,3.0
27,1906,3330100,UNITED STATES GOVERNMENT (GOVT,3,12,4.0,5,15,3.0
28,1906,3340100,US HISTORY STUDIES SINCE 1877,13,39,3.0,12,57,4.8
29,1906,3350100,PSYCHOLOGY (PSYCH),9,27,3.0,10,30,3.0
30,1906,3370100,SOCIOLOGY (SOC),3,3,3.0,3,3,3.0
31,1906,3380001,SOCIAL STUDIES ADV (1ST TIME),7,21,3.0,7,21,3.0
32,1906,3500100,ART I (ART 1),3,3,3.0,3,3,3.0
33,1906,3500500,ART II DRAWING (ART2DRAW),3,3,3.0,3,3,3.0
34,1906,3580200,COMPUTER SCIENCE I,3,3,3.0,3,3,3.0
...,...,...,...,...,...,...,...,...,...
11108,252902,3380002,SPEC TOPIC IN SOC STUD (1ST),6,18,3.0,6,24,4.0
11109,252902,13020600,ANATOMY & PHYSIOLOGY,8,32,4.0,8,32,4.0
11111,252902,A3100200,AP STATISTICS (APSTATS),3,3,3.0,5,15,3.0
11114,252903,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0
11115,252903,3220400,ENGLISH IV (ENG 4),6,24,4.0,6,24,4.0
11116,252903,3240600,DEBATE I (DEBATE 1),3,3,3.0,3,3,3.0
11117,252903,3240900,PUBLIC SPEAKING I (PUBSPKG1),3,3,3.0,3,3,3.0
11118,252903,3340100,US HISTORY STUDIES SINCE 1877,10,60,6.0,11,66,6.0
11121,253901,3100600,ALGEBRA II (ALG2),28,84,3.0,41,123,3.0
11122,253901,3220400,ENGLISH IV (ENG 4),25,150,6.0,27,162,6.0
11123,253901,3241400,COMMUNICATION APPLICATIONS,13,39,3.0,30,90,3.0
11124,253901,3330100,UNITED STATES GOVERNMENT (GOVT,6,18,3.0,6,18,3.0
11125,253901,3340100,US HISTORY STUDIES SINCE 1877,13,57,4.4,18,78,4.3
11126,253901,3350100,PSYCHOLOGY (PSYCH),17,51,3.0,33,99,3.0
11127,253901,13020500,PRACTICUM HEALTH SCIENCE,17,51,3.0,17,51,3.0
11130,254901,3102500,INDEP STUDY IN MATH (1ST TIME),3,3,3.0,3,3,3.0
11131,254901,3220300,ENGLISH III (ENG 3),15,81,5.4,15,81,5.4
11132,254901,3220400,ENGLISH IV (ENG 4),13,72,5.5,13,72,5.5
11133,254901,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
11134,254901,3330100,UNITED STATES GOVERNMENT (GOVT,15,45,3.0,15,45,3.0
11135,254901,3340100,US HISTORY STUDIES SINCE 1877,15,81,5.4,15,81,5.4
11136,254901,3350100,PSYCHOLOGY (PSYCH),18,54,3.0,18,54,3.0
11139,254902,3101100,PRECALCULUS (PRE CALC),3,3,3.0,3,3,3.0
11140,254902,3220300,ENGLISH III (ENG 3),7,21,3.0,7,21,3.0
11141,254902,3220400,ENGLISH IV (ENG 4),6,6,6.0,6,6,6.0
11142,254902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
11143,254902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
11144,254902,3340100,US HISTORY STUDIES SINCE 1877,4.5,4.5,4.5,4.5,4.5,4.5
11145,254902,3350100,PSYCHOLOGY (PSYCH),3,3,3.0,3,3,3.0
11146,254902,13032300,WELDING,20,137,6.9,20,137,6.9

In [5]:
# add year to collumn names


# compbine into single dataframe
from functools import reduce
def merge(df1, df2):
    return df1.merge(df2, how="outer", on=['DISTRICT', 'SERVICE','SERVICEX'])

df = reduce(merge, dfs)
df.to_csv("Clean_and_Combine.csv")

In [14]:


# clean each data so that there is a similar pivot where we can combine the dataframes
df.head()

,DISTRICT,SERVICE,SERVICEX,CTE_STUDENTS_2015,CTE_HOURS_2015,CTE_AVG_2015,ALL_STUDENTS_2015,ALL_HOURS_2015,ALL_AVG_2015,CTE_STUDENTS_2016,...,CTE_AVG_2017,ALL_STUDENTS_2017,ALL_HOURS_2017,ALL_AVG_2017,CTE_STUDENTS_2018,CTE_HOURS_2018,CTE_AVG_2018,ALL_STUDENTS_2018,ALL_HOURS_2018,ALL_AVG_2018
0,1902,3101100,PRECALCULUS (PRE CALC),9,36,4.0,18,54,3.0,9,...,5.8,13,75,5.8,15,45,3.0,15,45,3.0
1,1902,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0,18,...,6.0,15,87,5.8,15,90,6.0,17,102,6.0
2,1902,3220400,ENGLISH IV (ENG 4),10,57,5.7,14,81,5.8,7,...,5.6,15,84,5.6,15,81,5.4,15,81,5.4
3,1902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0,10,...,3.0,12,36,3.0,6,18,3.0,6,18,3.0
4,1902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0,12,...,3.0,15,45,3.0,6,18,3.0,6,18,3.0

In [7]:
# combine into single dataframe and output this dataframe

In [8]:
# comparing year over year and analysis data on different splices

# find outlier to established trends

In [9]:
# create charts

In [10]:
# output charts

In [11]:
# draw conclusions