In [1]:
import os
import pandas as pd
import matplotlib .pyplot as plt
import numpy as np

In [2]:
#Import cvs files and change to panda dataframes
filenames = os.listdir("Data/")
filenames = [
    os.path.join( "Data", f)
    for f in filenames
]
#need to pull list of district names.  We can then add these to dataframes in laster code
dfs = [
    pd.read_csv(f)
    for f in filenames
]



print(filenames)

['Data\\artf307420_15.csv', 'Data\\artf307420_16.csv', 'Data\\artf307420_17.csv', 'Data\\artf307420_18.csv']

In [3]:

def get_year(filename):
    year = filename.split("_")[-1] # last element
    year = year.split(".")[0] # removes .csv
    year = "20"+year
    return year
year=[]
for f in filenames:
    year.append(get_year(f))
print(year)

['2015', '2016', '2017', '2018']

In [4]:

cleandf=[]
counter=0
for df in dfs:
   
    df=df.rename(columns={
            "CTE_STUDENTS":f"CTE_STUDENTS_{year[counter]}",
            "CTE_HOURS":f"CTE_HOURS_{year[counter]}",
            "CTE_AVG":f"CTE_AVG_{year[counter]}",
            "ALL_STUDENTS":f"ALL_STUDENTS_{year[counter]}",
            "ALL_HOURS":f"ALL_HOURS_{year[counter]}",
            "ALL_AVG": f"ALL_AVG_{year[counter]}",
        })
    print(df.columns)
    del df['REPORT_DISTRICT']
    del df['REPORT_DISTNAME']
    del df['REPORT_CHARTER_STATUS']
    del df['BLANK_COLUMN']
    df = df.dropna(how = "any")
    cleandf.append(df)
    counter=counter+1

dfs=cleandf
dfs[0]

Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2015',
       'CTE_HOURS_2015', 'CTE_AVG_2015', 'ALL_STUDENTS_2015', 'ALL_HOURS_2015',
       'ALL_AVG_2015'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2016',
       'CTE_HOURS_2016', 'CTE_AVG_2016', 'ALL_STUDENTS_2016', 'ALL_HOURS_2016',
       'ALL_AVG_2016'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2017',
       'CTE_HOURS_2017', 'CTE_AVG_2017', 'ALL_STUDENTS_2017', 'ALL_HOURS_2017',
       'ALL_AVG_2017'],
      dtype='object')
Index(['REPORT_DISTRICT', 'REPORT_DISTNAME', 'REPORT_CHARTER_STATUS',
       'BLANK_COLUMN', 'DISTRICT', 'SERVICE', 'SERVICEX', 'CTE_STUDENTS_2018',
       'CTE_HOURS_2018', 'CTE_AVG_2018', 'ALL_STUDENTS_2018', 'ALL_HOURS_2018',
       'ALL_AVG_2018'],
      dtype='object')

,DISTRICT,SERVICE,SERVICEX,CTE_STUDENTS_2015,CTE_HOURS_2015,CTE_AVG_2015,ALL_STUDENTS_2015,ALL_HOURS_2015,ALL_AVG_2015
0,1902,3101100,PRECALCULUS (PRE CALC),9,36,4.0,18,54,3.0
1,1902,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0
2,1902,3220400,ENGLISH IV (ENG 4),10,57,5.7,14,81,5.8
3,1902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
4,1902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
5,1902,3340100,US HISTORY STUDIES SINCE 1877,9,36,4.0,9,36,4.0
6,1902,13009900,PROFESSIONAL COMMUNICATIONS,3,3,3.0,3,3,3.0
9,1904,3220300,ENGLISH III (ENG 3),10,30,3.0,12,72,6.0
10,1904,3220400,ENGLISH IV (ENG 4),11,33,3.0,11,33,3.0
11,1904,3241400,COMMUNICATION APPLICATIONS,3,3,3.0,3,3,3.0
12,1904,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
13,1904,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
14,1904,3340100,US HISTORY STUDIES SINCE 1877,3,3,3.0,6,24,4.0
15,1904,3350100,PSYCHOLOGY (PSYCH),3,12,4.0,11,33,3.0
17,1904,13014300,HUMAN GROWTH & DEVELOP,14,42,3.0,14,42,3.0
18,1904,13020400,HEALTH SCIENCE,7,14,2.0,7,14,2.0
21,1906,3101100,PRECALCULUS (PRE CALC),3,3,3.0,3,3,3.0
22,1906,3102500,INDEP STUDY IN MATH (1ST TIME),3,3,3.0,3,3,3.0
23,1906,3220300,ENGLISH III (ENG 3),6,24,4.0,10,30,3.0
24,1906,3220400,ENGLISH IV (ENG 4),6,18,3.0,6,18,3.0
25,1906,3221500,LITERARY GENRES (LIT GENR),3,3,3.0,3,3,3.0
26,1906,3241400,COMMUNICATION APPLICATIONS,3,3,3.0,3,3,3.0
27,1906,3330100,UNITED STATES GOVERNMENT (GOVT,3,12,4.0,5,15,3.0
28,1906,3340100,US HISTORY STUDIES SINCE 1877,13,39,3.0,12,57,4.8
29,1906,3350100,PSYCHOLOGY (PSYCH),9,27,3.0,10,30,3.0
30,1906,3370100,SOCIOLOGY (SOC),3,3,3.0,3,3,3.0
31,1906,3380001,SOCIAL STUDIES ADV (1ST TIME),7,21,3.0,7,21,3.0
32,1906,3500100,ART I (ART 1),3,3,3.0,3,3,3.0
33,1906,3500500,ART II DRAWING (ART2DRAW),3,3,3.0,3,3,3.0
34,1906,3580200,COMPUTER SCIENCE I,3,3,3.0,3,3,3.0
...,...,...,...,...,...,...,...,...,...
11108,252902,3380002,SPEC TOPIC IN SOC STUD (1ST),6,18,3.0,6,24,4.0
11109,252902,13020600,ANATOMY & PHYSIOLOGY,8,32,4.0,8,32,4.0
11111,252902,A3100200,AP STATISTICS (APSTATS),3,3,3.0,5,15,3.0
11114,252903,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0
11115,252903,3220400,ENGLISH IV (ENG 4),6,24,4.0,6,24,4.0
11116,252903,3240600,DEBATE I (DEBATE 1),3,3,3.0,3,3,3.0
11117,252903,3240900,PUBLIC SPEAKING I (PUBSPKG1),3,3,3.0,3,3,3.0
11118,252903,3340100,US HISTORY STUDIES SINCE 1877,10,60,6.0,11,66,6.0
11121,253901,3100600,ALGEBRA II (ALG2),28,84,3.0,41,123,3.0
11122,253901,3220400,ENGLISH IV (ENG 4),25,150,6.0,27,162,6.0
11123,253901,3241400,COMMUNICATION APPLICATIONS,13,39,3.0,30,90,3.0
11124,253901,3330100,UNITED STATES GOVERNMENT (GOVT,6,18,3.0,6,18,3.0
11125,253901,3340100,US HISTORY STUDIES SINCE 1877,13,57,4.4,18,78,4.3
11126,253901,3350100,PSYCHOLOGY (PSYCH),17,51,3.0,33,99,3.0
11127,253901,13020500,PRACTICUM HEALTH SCIENCE,17,51,3.0,17,51,3.0
11130,254901,3102500,INDEP STUDY IN MATH (1ST TIME),3,3,3.0,3,3,3.0
11131,254901,3220300,ENGLISH III (ENG 3),15,81,5.4,15,81,5.4
11132,254901,3220400,ENGLISH IV (ENG 4),13,72,5.5,13,72,5.5
11133,254901,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
11134,254901,3330100,UNITED STATES GOVERNMENT (GOVT,15,45,3.0,15,45,3.0
11135,254901,3340100,US HISTORY STUDIES SINCE 1877,15,81,5.4,15,81,5.4
11136,254901,3350100,PSYCHOLOGY (PSYCH),18,54,3.0,18,54,3.0
11139,254902,3101100,PRECALCULUS (PRE CALC),3,3,3.0,3,3,3.0
11140,254902,3220300,ENGLISH III (ENG 3),7,21,3.0,7,21,3.0
11141,254902,3220400,ENGLISH IV (ENG 4),6,6,6.0,6,6,6.0
11142,254902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0
11143,254902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0
11144,254902,3340100,US HISTORY STUDIES SINCE 1877,4.5,4.5,4.5,4.5,4.5,4.5
11145,254902,3350100,PSYCHOLOGY (PSYCH),3,3,3.0,3,3,3.0
11146,254902,13032300,WELDING,20,137,6.9,20,137,6.9

In [5]:
# add year to collumn names


# compbine into single dataframe
from functools import reduce
def merge(df1, df2):
    return df1.merge(df2, how="outer", on=['DISTRICT', 'SERVICE','SERVICEX'])

df = reduce(merge, dfs)
df.to_csv("Clean_and_Combine.csv")

In [6]:
# remove rows containing -999 (these were '*' in data and were used when inrollment was between 1 and 5 students)

# clean each data so that there is a similar pivot where we can combine the dataframes
df.head()

,DISTRICT,SERVICE,SERVICEX,CTE_STUDENTS_2015,CTE_HOURS_2015,CTE_AVG_2015,ALL_STUDENTS_2015,ALL_HOURS_2015,ALL_AVG_2015,CTE_STUDENTS_2016,...,CTE_AVG_2017,ALL_STUDENTS_2017,ALL_HOURS_2017,ALL_AVG_2017,CTE_STUDENTS_2018,CTE_HOURS_2018,CTE_AVG_2018,ALL_STUDENTS_2018,ALL_HOURS_2018,ALL_AVG_2018
0,1902,3101100,PRECALCULUS (PRE CALC),9,36,4.0,18,54,3.0,9,...,5.8,13,75,5.8,15,45,3.0,15,45,3.0
1,1902,3220300,ENGLISH III (ENG 3),12,48,4.0,12,48,4.0,18,...,6.0,15,87,5.8,15,90,6.0,17,102,6.0
2,1902,3220400,ENGLISH IV (ENG 4),10,57,5.7,14,81,5.8,7,...,5.6,15,84,5.6,15,81,5.4,15,81,5.4
3,1902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3,3,3.0,3,3,3.0,10,...,3.0,12,36,3.0,6,18,3.0,6,18,3.0
4,1902,3330100,UNITED STATES GOVERNMENT (GOVT,3,3,3.0,3,3,3.0,12,...,3.0,15,45,3.0,6,18,3.0,6,18,3.0

In [7]:
# combine into single dataframe and output this dataframe
#move commas from dataset
df_np_zer0=pd.DataFrame(df.fillna(value = 0, inplace=False))
columns=['DISTRICT',  
        'CTE_AVG_2015','CTE_STUDENTS_2015', 
    'CTE_HOURS_2015', 'ALL_STUDENTS_2015', 'ALL_HOURS_2015',
       'ALL_AVG_2015', 'CTE_STUDENTS_2016', 'CTE_HOURS_2016', 'CTE_AVG_2016',
       'ALL_STUDENTS_2016', 'ALL_HOURS_2016', 'ALL_AVG_2016',
       'CTE_STUDENTS_2017', 'CTE_HOURS_2017', 'CTE_AVG_2017',
       'ALL_STUDENTS_2017', 'ALL_HOURS_2017', 'ALL_AVG_2017',
       'CTE_STUDENTS_2018', 'CTE_HOURS_2018', 'CTE_AVG_2018',
       'ALL_STUDENTS_2018', 'ALL_HOURS_2018', 'ALL_AVG_2018']
for c in columns:
    print(c)
    df_np_zer0[c]=df_np_zer0[c].astype(str)
    df_np_zer0[c]=df_np_zer0[c].str.replace(",", "")
    df_np_zer0[c]=pd.to_numeric(df_np_zer0[c])

DISTRICT
CTE_AVG_2015
CTE_STUDENTS_2015
CTE_HOURS_2015
ALL_STUDENTS_2015
ALL_HOURS_2015
ALL_AVG_2015
CTE_STUDENTS_2016
CTE_HOURS_2016
CTE_AVG_2016
ALL_STUDENTS_2016
ALL_HOURS_2016
ALL_AVG_2016
CTE_STUDENTS_2017
CTE_HOURS_2017
CTE_AVG_2017
ALL_STUDENTS_2017
ALL_HOURS_2017
ALL_AVG_2017
CTE_STUDENTS_2018
CTE_HOURS_2018
CTE_AVG_2018
ALL_STUDENTS_2018
ALL_HOURS_2018
ALL_AVG_2018

In [8]:
# comparing year over year and analysis data on different splices

df=df_np_zer0
df.to_csv("Clean_and_Combine.csv")
# find outlier to established trends

In [9]:
df.head(12)

,DISTRICT,SERVICE,SERVICEX,CTE_STUDENTS_2015,CTE_HOURS_2015,CTE_AVG_2015,ALL_STUDENTS_2015,ALL_HOURS_2015,ALL_AVG_2015,CTE_STUDENTS_2016,...,CTE_AVG_2017,ALL_STUDENTS_2017,ALL_HOURS_2017,ALL_AVG_2017,CTE_STUDENTS_2018,CTE_HOURS_2018,CTE_AVG_2018,ALL_STUDENTS_2018,ALL_HOURS_2018,ALL_AVG_2018
0,1902,3101100,PRECALCULUS (PRE CALC),9.0,36.0,4.0,18.0,54.0,3.0,9.0,...,5.8,13.0,75.0,5.8,15.0,45.0,3.0,15.0,45.0,3.0
1,1902,3220300,ENGLISH III (ENG 3),12.0,48.0,4.0,12.0,48.0,4.0,18.0,...,6.0,15.0,87.0,5.8,15.0,90.0,6.0,17.0,102.0,6.0
2,1902,3220400,ENGLISH IV (ENG 4),10.0,57.0,5.7,14.0,81.0,5.8,7.0,...,5.6,15.0,84.0,5.6,15.0,81.0,5.4,15.0,81.0,5.4
3,1902,3310300,ECONOMICS W/EMPH FREE ENTERPR,3.0,3.0,3.0,3.0,3.0,3.0,10.0,...,3.0,12.0,36.0,3.0,6.0,18.0,3.0,6.0,18.0,3.0
4,1902,3330100,UNITED STATES GOVERNMENT (GOVT,3.0,3.0,3.0,3.0,3.0,3.0,12.0,...,3.0,15.0,45.0,3.0,6.0,18.0,3.0,6.0,18.0,3.0
5,1902,3340100,US HISTORY STUDIES SINCE 1877,9.0,36.0,4.0,9.0,36.0,4.0,6.0,...,6.0,16.0,96.0,6.0,19.0,111.0,5.8,21.0,123.0,5.9
6,1902,13009900,PROFESSIONAL COMMUNICATIONS,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,3.0,3.0
7,1904,3220300,ENGLISH III (ENG 3),10.0,30.0,3.0,12.0,72.0,6.0,15.0,...,5.8,16.0,93.0,5.8,24.0,111.0,4.6,25.0,117.0,4.7
8,1904,3220400,ENGLISH IV (ENG 4),11.0,33.0,3.0,11.0,33.0,3.0,15.0,...,4.8,13.0,63.0,4.8,19.0,72.0,3.8,19.0,72.0,3.8
9,1904,3241400,COMMUNICATION APPLICATIONS,3.0,3.0,3.0,3.0,3.0,3.0,0.0,...,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,3.0,3.0
10,1904,3310300,ECONOMICS W/EMPH FREE ENTERPR,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,0.0,0.0,0.0,0.0,5.0,15.0,3.0,5.0,15.0,3.0
11,1904,3330100,UNITED STATES GOVERNMENT (GOVT,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,4.5,4.5,4.5,10.0,36.0,3.6,12.0,42.0,3.5

In [33]:
x=df[{'DISTRICT','SERVICE','CTE_STUDENTS_2015'}]

y=df.groupby('DISTRICT')

print(y.sum())

          CTE_STUDENTS_2015  CTE_HOURS_2015  CTE_AVG_2015  ALL_STUDENTS_2015  \
DISTRICT
1902                   49.0           186.0     26.700000               62.0
1903                    0.0             0.0      0.000000                0.0
1904                   57.0           143.0     27.000000               70.0
1906                   80.0           177.0     56.000000               86.0
1907                   95.0           399.0     28.500000               95.0
1908                  116.0           510.0     41.000000              150.0
1909                   75.0           243.0     33.600000               87.0
2901                  124.0           438.0     28.700000              155.0
3801                  228.0           589.0    121.400000              400.0
3902                  236.0          1096.0     73.500000              262.0
3903                   99.0          1068.0     32.500000              104.0
3904                  258.0          1020.0     54.400000              305.0
3905                  127.0           441.0     41.300000              127.0
3906                   61.0           204.0     24.000000               65.0
3907                   27.0            81.0      6.000000               24.0
4901                   78.0           270.0     34.000000              118.0
5901                   17.3            64.3     13.000000               53.0
5902                   16.0            48.0      3.000000               20.0
5904                    8.7             8.7      8.700000                8.7
6902                   18.0            54.0     10.000000               17.0
7901                   63.0           171.0     32.000000               63.0
7902                  148.0           660.0     48.800000              159.0
7904                  121.0           498.0     38.600000              177.0
7905                   91.0           348.0     36.500000               92.0
7906                   84.0           395.0     22.600000               84.0
8901                  111.0           540.0     14.800000              119.0
8902                   50.0           228.0     15.900000               64.0
8903                   23.0            96.0     15.400000               26.0
9901                   38.0           144.0     18.000000               38.0
10901                  15.0            33.0      9.000000               15.0
...                     ...             ...           ...                ...
246911                409.0          1256.0    143.000000              609.0
246912                129.5           461.5     87.400000              138.0
246913               1431.0          5371.0     58.000000             1837.0
247901                313.0          1479.0     32.200000              342.0
247903                282.0          1333.0     38.900000              333.0
247904                106.0           390.0     26.600000              109.0
247906                 47.0           156.0     24.000000               53.0
248901                 92.0           408.0     23.500000               98.0
248902                 58.0           144.0     30.000000               62.0
249901                 28.0          -954.0    -84.818182               28.0
249902                141.0           436.0     25.000000              172.0
249903                 30.0           207.0     13.300000               31.0
249904                 37.0           138.0     11.700000               37.0
249905                154.0           796.0     36.300000              190.0
249906                130.0           621.0     23.900000              132.0
249908                  3.0            12.0      4.000000               10.0
250902                155.0          -349.0    -48.100000              161.0
250903                 92.0           414.0     28.100000               95.0
250904                  0.0             0.0      0.000000                0.0
250905                 16.0            53.0      9.000000               16.0
250906                102.0           407.0     45.900000              130.0
250907                 59.0           214.0     36.000000               65.0
251901                 33.0            99.0     13.000000               32.0
251902                 43.0           117.0     22.000000               49.0
252901                  0.0             0.0      0.000000                0.0
252902                 41.0           140.0     21.000000               46.0
252903                 34.0           138.0     20.000000               35.0
253901                119.0           450.0     25.400000              172.0
254901                 82.0           339.0     28.300000               82.0
254902                 49.5           180.5     32.400000               49.5

          ALL_HOURS_2015  ALL_AVG_2015  CTE_STUDENTS_2016  CTE_HOURS_2016  \
DISTRICT
1902               228.0     25.800000               65.0           177.0
1903                 0.0      0.000000                0.0             0.0
1904               227.0     30.000000               93.0           291.0
1906               207.0     55.800000               90.5           214.5
1907               399.0     28.500000              351.0          1844.0
1908               675.0     39.900000              124.0           510.0
1909               291.0     33.700000               80.0           261.0
2901              -450.0    -73.100000              166.0           537.0
3801              1271.0    122.500000              167.0           456.0
3902              1186.0     72.500000              306.5          1366.5
3903              1128.0     32.500000              144.0          1551.0
3904              1236.0     54.300000              237.0           753.0
3905               441.0     41.300000               88.0           288.0
3906               216.0     24.000000               22.7            95.7
3907                87.0      7.000000                2.5            19.5
4901               402.0     33.000000              146.0           528.0
5901               174.0      9.800000               39.0           171.0
5902                60.0      3.000000               50.0           225.0
5904                 8.7      8.700000               24.0           144.0
6902                72.0     12.000000               41.0           111.0
7901               171.0     32.000000               89.0           294.0
7902               741.0     42.900000              114.0           543.0
7904               714.0     37.500000              107.0           408.0
7905               351.0     36.500000              218.0           774.0
7906               395.0     22.600000              105.0           525.0
8901               582.0     14.800000              117.0           591.0
8902               279.0     15.800000               56.0           222.0
8903               114.0     15.500000               34.0            90.0
9901               144.0     18.000000               26.0            90.0
10901               33.0      9.000000               15.0            60.0
...                  ...           ...                ...             ...
246911            2157.0    147.000000              630.0          2227.0
246912             531.0     87.900000               62.5           109.5
246913            6889.0     57.900000             1401.0          5292.0
247901            1620.0     32.200000              274.0          1350.0
247903            1589.0     39.900000              287.0          1357.0
247904             402.0     26.600000              147.0           489.0
247906             180.0     24.000000               62.0           216.0
248901             444.0     23.500000              114.0           408.0
248902             168.0     27.000000               17.0            27.0
249901            -954.0    -84.818182               66.0           216.0
249902             564.0     27.800000              103.0           350.0
249903             213.0     13.300000               37.0           174.0
249904             138.0     11.700000               26.0           102.0
249905             958.0     36.600000              197.0          1059.0
249906             633.0     23.900000               97.0           495.0
249908              30.0      3.000000                0.0             0.0
250902            -325.0    -47.800000               96.0           366.0
250903             429.0     28.000000               84.0           306.0
250904               0.0      0.000000               61.0           222.0
250905              53.0      9.000000                3.0             3.0
250906             537.0     47.100000              181.0           709.0
250907             266.0     38.000000               32.0           157.0
251901             108.0     14.200000               40.0           120.0
251902             210.0     24.400000               36.0           129.0
252901               0.0      0.000000                0.0             0.0
252902             170.0     22.400000               51.0           173.0
252903             144.0     20.000000               53.0           186.0
253901             621.0     25.300000              174.0           648.0
254901             339.0     28.300000               72.0           306.0
254902             180.5     32.400000               64.0           219.0

          CTE_AVG_2016  ALL_STUDENTS_2016  ...  CTE_AVG_2017  \
DISTRICT                                   ...
1902              24.0               60.0  ...       29.4000
1903               0.0                0.0  ...       68.0000
1904              36.6               95.0  ...       31.6000
1906              61.5               99.5  ...       42.5000
1907              81.1              378.0  ...       81.1000
1908              43.4              172.0  ...       34.2000
1909              37.7               89.0  ...       41.3000
2901              59.5              236.0  ...       67.8000
3801              87.4              235.0  ...       42.9000
3902              72.0              365.5  ...      137.0000
3903              29.2              155.0  ...       88.4000
3904              50.8              306.0  ...       58.7000
3905              33.8              131.0  ...       56.2000
3906              15.7               34.8  ...       22.0000
3907               2.5                2.5  ...        1.0000
4901              43.0              203.0  ...       50.7000
5901              12.0               52.0  ...      -53.1375
5902              20.8               69.0  ...       24.1000
5904               6.0               24.0  ...        4.8000
6902              23.0               42.0  ...       35.0000
7901              32.1               98.5  ...       37.0000
7902              45.7              126.0  ...       56.1000
7904              33.4              157.0  ...       26.3000
7905              50.0              222.0  ...       45.0000
7906              32.5              106.0  ...       25.4000
8901              14.8              123.0  ...       14.9000
8902              15.6               69.0  ...       15.4000
8903              12.0               31.0  ...       25.4000
9901              14.4               34.0  ...       12.0000
10901             16.0               15.0  ...        9.0000
...                ...                ...  ...           ...
246911           137.5              764.0  ...      113.2000
246912            50.5               70.5  ...       73.9000
246913            26.4             1851.0  ...       45.5000
247901            40.2              308.0  ...       34.3000
247903            35.5              320.0  ...       19.0000
247904            46.3              142.0  ...       49.3000
247906            18.0               55.0  ...       29.6000
248901            38.0              135.0  ...       37.5000
248902            15.0               16.0  ...       47.0000
249901            27.7               57.0  ...        0.0000
249902            30.5              157.0  ...       22.0000
249903            13.0               40.0  ...       30.9000
249904            11.4               26.0  ...       17.0000
249905            42.5              253.0  ...       49.4000
249906            23.7               99.0  ...       28.4000
249908             0.0                0.0  ...        9.0000
250902            41.4              103.0  ...       64.2000
250903            28.8               94.0  ...       33.5000
250904            28.0               63.0  ...       29.8000
250905             3.0                3.0  ...       18.0000
250906            49.7              211.0  ...       52.9000
250907            19.0               35.0  ...       19.0000
251901             9.0               48.0  ...       26.4000
251902            25.7               44.0  ...       33.0000
252901             0.0                0.0  ...       32.9000
252902            25.0               56.0  ...       28.3000
252903            17.1               53.0  ...       30.4000
253901            27.1              213.0  ...        7.0000
254901            21.4               70.0  ...       29.7000
254902            26.3               64.0  ...       28.2000

          ALL_STUDENTS_2017  ALL_HOURS_2017  ALL_AVG_2017  CTE_STUDENTS_2018  \
DISTRICT
1902                   86.0           423.0     29.200000               85.0
1903                  120.0           398.0     67.000000              135.0
1904                   66.5           247.5     33.700000              116.0
1906                   81.0           228.0     41.500000               91.0
1907                  529.0          2758.0     81.400000              499.0
1908                  134.0           579.0     35.400000              112.0
1909                   82.0           258.0     41.300000               95.0
2901                  331.0          1138.0     70.200000              262.0
3801                  413.0           436.0     42.800000               70.0
3902                  416.0          1878.0    137.300000              442.0
3903                  257.5          2047.5     88.300000              408.0
3904                  310.0          1251.0     58.700000              284.0
3905                  290.0           916.0     56.200000              160.0
3906                   49.0           135.0     21.000000               52.0
3907                   10.0            10.0      1.000000               68.0
4901                  153.0           579.0     49.500000               67.0
5901                   75.0          -813.0    -35.109091               32.0
5902                  105.0           393.0     22.300000               69.0
5904                   26.0           123.0      4.700000               15.0
6902                   75.0           255.0     39.000000               84.0
7901                   74.0           210.0     35.000000               81.5
7902                  148.0           606.0     56.200000               92.0
7904                  142.0           592.0     26.200000                0.0
7905                  155.0           605.0     45.000000              209.0
7906                  132.0           591.0     25.700000              163.0
8901                  124.0           615.0     14.900000              137.0
8902                   72.0           303.0     15.400000               83.0
8903                   42.0           177.0     28.500000               48.0
9901                   45.0           183.0     12.000000              101.0
10901                  13.0            27.0      9.000000               40.0
...                     ...             ...           ...                ...
246911                873.0          2916.0    113.000000              900.0
246912                184.0           717.0     75.800000               87.5
246913               2104.0          7802.0     44.700000             1723.0
247901                231.0          1204.0     33.200000              397.0
247903                 90.0           501.0     19.000000              237.0
247904                187.0           837.0     50.200000              228.0
247906                 71.0           336.0     31.200000               82.0
248901                144.0           570.0     37.600000               97.0
248902                 82.0           180.0     45.000000               47.0
249901                  0.0             0.0      0.000000               62.0
249902                 97.0           328.0     24.500000               94.0
249903                112.0           669.0     30.700000               22.0
249904                 54.0           201.0     19.000000               85.0
249905                248.0          1266.0     50.500000              164.0
249906                123.0           702.0     28.400000               90.0
249908                 37.0           123.0     10.000000               32.0
250902                143.5           662.5     69.900000              120.0
250903                180.0           723.0     32.600000              192.0
250904                 69.0           285.0     29.800000              125.0
250905                 40.0           159.0     19.800000               61.0
250906                178.0           759.0     56.200000              183.0
250907                 41.0           211.0     19.000000                0.0
251901                 87.0           390.0     27.300000              100.0
251902                 71.0           225.0     33.500000               58.0
252901                125.0           612.0     32.900000              187.0
252902                 75.0           256.0     27.400000               74.0
252903                 68.0           261.0     30.500000               70.0
253901                 96.0           288.0      6.000000              292.0
254901                128.0           573.0     29.700000              261.0
254902                 47.0           150.0     27.400000               82.0

          CTE_HOURS_2018  CTE_AVG_2018  ALL_STUDENTS_2018  ALL_HOURS_2018  \
DISTRICT
1902               372.0          35.2               89.0           396.0
1903               493.0          62.6              137.0           505.0
1904               442.0          47.5              118.0           470.0
1906               246.0          51.2               90.0           261.0
1907              2722.0         104.2              527.0          2828.0
1908               471.0          38.9              141.0           597.0
1909               297.0          39.7               98.0           309.0
2901              1042.0          74.6              413.0          1508.0
3801                70.0          17.0              127.0           127.0
3902              1725.0         118.9              471.0          1873.0
3903              3301.0         109.0              426.0          3487.0
3904              1155.0          60.2              290.0          1176.0
3905               588.0          51.7              211.0           756.0
3906               159.0          31.0               52.0           159.0
3907               141.0          52.0               91.0           249.0
4901               231.0          34.4              151.0           537.0
5901                96.0           6.0               33.0           114.0
5902              -695.0         -76.8               88.0          -624.0
5904                81.0           5.4               15.0            81.0
6902               240.0          31.0               91.0           270.0
7901               226.5          50.5               94.5           259.5
7902               435.0          45.6               97.0           462.0
7904                 0.0           0.0                0.0             0.0
7905               870.0          47.8              216.0           906.0
7906               594.0          30.9              163.0           594.0

In [11]:
# output charts

In [12]:
# draw conclusions