In [ ]:
import os
import pandas as pd
import matplotlib .pyplot as plt
import numpy as np
help(df.to_csv)

In [ ]:
help(pd.read_csv
df = pd.read_csv("Clean_and_Combine.csv")
df=df.drop()

In [ ]:
# CTE student count vs All Student count
columns=[ 'CTE_STUDENTS_2015',
       'ALL_STUDENTS_2015',
        'CTE_STUDENTS_2016',  
       'ALL_STUDENTS_2016', 
       'CTE_STUDENTS_2017', 
       'ALL_STUDENTS_2017', 
       'CTE_STUDENTS_2018', 
       'ALL_STUDENTS_2018', ]
student_count=[]
for c in columns:
    student_count.append(df[c].sum())
    
student_count

In [ ]:
# create a dataframe containing each type of course:

df=df.sort_values("SERVICE", ascending= False)
df.head()